.container {
  margin: 0 auto;
  width: 1200px;
}

/* Logo styles */
.main__logo {
  width: 20%;
  display: flex;
  align-items: center;
}

.main__logo h1 {
  font-size: 22px;
  font-weight: 600;
}

.main__logo img {
  width: 45px;
  margin: 0 5px 0 0;
}

/* Header  */

.main___header {
  background-color: aquamarine;
  padding: .5rem 0;
}

.main___header>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar */

.main__nav {
  width: 40%;
}

.main__nav ul {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .main__nav {
    display: block;
    width: 60%;
  }

  .main__nav ul {
    justify-content: flex-end;
  }

  .main__nav li {
    margin-left: 1rem;
  }
}